html,body{
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.App {
  background: rgb(0,0,47);
  background: linear-gradient(153deg, rgb(13, 0, 58) 0%, rgb(72, 1, 85) 100%);
  color: white;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  font-size: 40px;
  position: absolute;
}

.star {
  height: 20px;
  width: 20px;
  position: absolute;
  transition:  ease-out 1s all;
  animation: spin 4s infinite, fadeInOut 2s infinite;
}


.spaceship{
  position: absolute;
  transition:  ease-out 0.8s all;
  display: flex;
  justify-content: center;
  align-items: center;
  /* animation: spaceship 6s infinite linear; */
  /* left: 30%;
  padding-right: 50%; */
  /* margin-left: 25%; */
}

.FIRE::after {
  content: '';
  position: absolute;
  border: red solid 1px;
  height: 100vh;
  bottom: 100px;
}

.buttons {
  display: grid;
  grid-template-columns: 200px repeat(4, 60px);
  grid-template-rows: repeat(2, 40px);
  gap: 8px;
  position: absolute;
  bottom: 20px;

}
  
.btn-up { grid-area: 1 / 4 / 2 / 5; }
.btn-right { grid-area: 2 / 5 / 3 / 6; }
.btn-down { grid-area: 2 / 4 / 3 / 5; }
.btn-left { grid-area: 2 / 3 / 3 / 4; }
.btn-space { grid-area: 2 / 1 / 3 / 2; }
.btn {
  background: transparent;
  border: white solid 1px;
  color: white;
  height: 40px;
  /* width: 60px; */
  border-radius: 8px;
}
.btn:hover {
  background: rgba(255, 255, 255, 0.3);
}
.btn:active, .btn[aria-pressed="true"] {
  background: rgba(255, 255, 255, 0.5);
}
@keyframes spaceship {
  from {
      transform: rotate(0deg);
  }
  to {transform:  rotate(360deg);
  }
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

@keyframes fadeInOut {
  0% {
      opacity: 0;
      filter: drop-shadow(0 0 4px #ffff0000);
  }
  50% {
    opacity: 1;
    filter: drop-shadow(0 0 4px yellow);
  }
  100% {
    opacity: 0;
    filter: drop-shadow(0 0 4px #ffff0000);
  }
}